

    <footer class="footer-distributed">

       <div class="footer-left">
        <h3>LES CONCERTS</h3>
          <div class="margin-left">
            <ul class="footer-links">
              <li><a href="#">Saison 2018/2019</a></li>
              <li><a href="#">Tarifs des concerts</a></li>
              <li><a href="#">Billeterie</a></li>
            </ul>
          </div>
        </div>


      <div class="footer-center">
        <h3>LES FORMATIONS</h3>
        <div class="margin-left">
         <ul class="footer-links">
            <li><a href="#">La formation Symphonique</a></li>
            <li><a href="#">La Philharmonie</a></li>
            <li><a href="#">L'ensemble vocal</a></li>
            <li><a href="#">Les chefs</a></li>
            <li><a href="#">L'association</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-right">
        <h3>SOUTENEZ-NOUS</h3>
        <div class="margin-left">
          <ul class="footer-links">
            <li><a href="#">Nos partenaires</a></li>
            <li><a href="#">Nous soutenir</a></li>
          </ul>
        </div>
      </div>


<br>
<br>
<br>
<br>

<!-- Deuxieme partie du footer -->


      <div class="footer-left">

        <h3>Choeur et Orchestre des Grandes Ecoles - COGE</h3>
        <div class="footer-icons">
          <a href="https://www.youtube.com/channel/UCICK1a4hKPp-rKdOU6DsroOA"><i class="fab fa-youtube"></i></a>
          <a href="https://twitter.com/coge_paris?lang=fr"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com/MGECOGE/"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/coge_paris/?hl=fr"><i class="fab fa-instagram"></i></a>
        </div>
      </div>


      <div class="footer-center">

        <div>
          <i class="fa fa-phone"></i>
          <p>+33 (0)7.86.39.59.78</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:info@mgecoge.org">info@mgecoge.org</a></p>
        </div>

      </div>

      <div class="footer-right">
          <ul class="footer-links">
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">35 ans de musique</a></li>
          </ul>
      </div>

    </footer>
