---
title: COGE
---

<!-- <div class="banner-small">
 <h1>COGE</h1>
  <h2>Choeur et Orchestre des grandes écoles</h2>
</div> -->


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url('images/coge.png');">
  <div class="banner-content">
    <h1>Bienvenue au COGE</h1>
    <h2>Choeurs et Orchestres des grandes écoles</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <h1>Ceci est un titre h1</h1>
  <h2>Ceci est un titre h2</h2>
  <h3>Ceci est un titre h3</h3>

  <p>Lorem ipsum dsdfsd fdsfds fdsfsoi fezoihvc dskjhef fds fofhs fzofhd fz fdzfozd</p>




<h1>CARD CONCERT - EXEMPLES</h1>
<h1>PROCHAINS CONCERTS (design en cours)</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" >
        <div class="card-category">CONCERT</div>
        <div class="card-description">
          <h2>L'orchestre de la Philharmonie du COGE</h2>
          <p>Programme : Symphonie n°8 − CHOSTAKOVITCH - La Péri − DUKAS</p>
          <p>Interprètes : L'orchestre de la Philharmonie du COGE, sous la direction de Jordan Gudefin, chef d'orchestre.</p>
          <p class="card-btn btn">Vendredi 30 novembre</p>
          <p class="card-btn btn">Samedi 1e décembre</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" >
        <div class="card-category">CONCERT - 30 nov & 1e DEC</div>
        <div class="card-description">
          <h2>L'orchestre de la Philharmonie du COGE</h2>
          <p>Programme : Symphonie n°8 − CHOSTAKOVITCH - La Péri − DUKAS</p>
          <p>Interprètes : L'orchestre de la Philharmonie du COGE, sous la direction de Jordan Gudefin, chef d'orchestre.</p>
          <p class="card-btn btn">RESERVER</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" >
        <div class="card-category">
          VENDREDI 30 NOVEMBRE
          <br>
          SAMEDI 1e DECEMBRE
        </div>
        <div class="card-description">
          <h2>L'orchestre de la Philharmonie du COGE</h2>
          <p>Programme : Symphonie n°8 − CHOSTAKOVITCH - La Péri − DUKAS</p>
          <p>Direction : Jordan Gudefin</p>
          <p class="card-btn btn">RESERVER</p>
        </div>
      </div>
    </div>
  </div>
</div>




</div>


